@{
    ViewData["Title"] = "Info Page";
}

<h5>Ideas for extentions(not ordered on the priority):</h5>
<li>To work with database where to add, read, update and remove PIN</li>
<li>To List all PINs on the home page with paging, some general statistics about number of PINs, etc.</li>
<li>Link to detailed page of given PIN</li>
<li>To export PINs in JSON and/or XML format</li>
<li>To import PINs in the database from JSON and/or XML format files</li>
<li>To add user management system with different rights for operations in the system</li>
<li>To add toastr for messages</li>
<li>To add log4net to manage log of application</li>
<li>Design improvements</li>





